
# Директория для результатов ассемблирования кода и ресурсов
obj/

# Директория для результатов линковки (сама программа)
bin/

# Промежуточные файлы MASM
*.obj
*.res
*.lst
*.err

# Исполняемые файлы
*.exe
*.dll

# Отладочные файлы
*.pdb
*.map
*.tds

# Временные файлы редакторов
*~
*.bak
Thumbs.db
.DS_Store